body {
    padding: 0;
    margin: 0;
}

#id-div-main-body {
    width: 50%;
    margin: 0 auto;
}

#id-div-slider {
    padding: 0;
    margin: 0;
}

#id-div-playing-process {
    width: 100%;
    height: 50px;
}

#id-div-main-body * {
    border: solid #ff0000 1px;
}

#id-div-process-slider {
    margin: 0 auto;
}

#id-div-process-slider label {
    margin: 0 auto;
    text-align: center;
}

#id-current-time {
    float: left;
}

#id-total-time {
    float: right;
}

#id-div-track-name {
    clear: both;
    text-align: center;
}

#id-div-track-control-group,
#id-div-track-switch-group,
#id-div-track-info {
    text-align: center;
    clear: both;
}

#id-div-record-info label {
    margin: 0 auto;
    width: 30%;
}

.track-switch-group {
    float: left;
    width: 33%;
    margin: 0 auto;
}

.track-control-group {
    float: left;
    width: 24%;
    margin: 0 auto;
}